html {
  background-image: linear-gradient(to bottom right, blue, purple);
}

main {
  border-radius: 50%;
  border-style: dotted;
  color:white;
  font-family: sans-serif;

}
p {
  font-family: sans-serif;
  color: white;
}
