html {
  background-image: linear-gradient(to bottom right, blue, purple);
  width: 100%;
  min-height: 100%;

}

#main {
  border-radius: 50%;
  border-style: groove;

  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto
}

main {
  color: white;
  font-family: sans-serif;
  text-align: center;
}
::selection {
  background: #c8bb0a;
}

header {
  text-align: center;
  grid-column: 2 / 5;
}

section {
  grid-column: 2 / 5;
  grid-row: auto;
  font-family: sans-serif;
}

table {
  margin: 0 auto;
  border: 1px solid green;
  padding: 15px;
  border-spacing: 15px;
}

img {
  width: 100%;
}
a {
  cursor: src("img/cursor.png"), auto;
}

footer {
  grid-row: -1;
  grid-column: 2 / 5;
}

/* VIEWPORT STUFF */
@media only screen and (max-width: 480px) {
  #main {
    display:block;
  }

}
